#flying_bee.col.s12.card.height_600.waves-block.waves-light.gray_border.z-depth-5
  = image_tag('dronebee.gif', style: 'width: 80px')
  = image_tag('workerbee.gif', style: 'width: 80px')
  = image_tag('queenbee.gif', style: 'width: 80px')
